@font-face {
    font-family: 'K2D-San-Serif';
    src: url(../fonts/K2D/K2D-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-San-Serif';
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: 'Poppins-Thin-100';
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}